img.head_logo{
    display: block;
    margin: auto;
    width: auto;
    height: inherit;
}
.head{
    width: 100%;
    height: 40px;
    margin: 10px;
}
.form_container{
    width: 300px;
    height: fit-content;
    margin: auto;
    padding: 15px;
    border-style: solid;
    border-radius: 5px;
    border-color:rgb(176, 179, 182);
    border-width: 0.5px;
}
.form_head{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}
input.form_ed{
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    border-style: solid;
    border-radius: 3px;
    border-color:rgb(131, 134, 138);
    border-width: 0.5px;
}
label.form{
    font-family: 'Lato', sans-serif;
    font-size: 15px;    
    width: max-content;
    height: fit-content;
    margin: auto;
    padding-bottom: 5px;
}
label.form_error{
    font-family: 'Lato', sans-serif;
    font-size: 13px;    
    color: rgb(158, 22, 22);
    width: max-content;
    height: fit-content;
    padding-bottom: 5px;
}
input.form_btn{
    font-family: 'Lato', sans-serif;
    font-size: 15px;   
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    border-color:rgb(223, 42, 42);
    border-width: 0.5px;
    background-color: rgb(221, 137, 137);
}
a.emphasis_link{
    color: rgb(80, 107, 197);
    text-decoration: none;
}