.root{
    flex-flow: 1;
    padding: 5%;
}

.paper {
    padding: 2;
    text-align: center;
    color: transparent;
    box-shadow: 5px 5px lightskyblue;
    border-radius: 25px;
}

.summary-box {
    width: 300px;
    height: 200px; 
  
}

.revenue-box {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    border-radius: 15%; 
    /* background-position: initial; */
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    border: 5ps 5px 5px 5px;
}

.selling-box{

    width: 300px;
    height: 200px;
    background-color: lightgoldenrodyellow;
    border-radius: 15%; 
    /* background-position: initial; */
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    border: 5ps 5px 5px 5px;
}

.cart-box{

    width: 300px;
    height: 200px;
    background-color: lightyellow;
    border-radius: 15%; 
    /* background-position: initial; */
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    border: 5ps 5px 5px 5px;
}

.monthlyOverview-box{

    width: 300px;
    height: 200px;
    background-color: lightsteelblue;
    border-radius: 15%; 
    /* background-position: initial; */
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    border: 5ps 5px 5px 5px;
}